.offset-top {
  margin-top: 70px;
  width: 100%;
}



.workflow-detail-well {
	border-radius: 4px;
    border: 2px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

.react-bootstrap-table > .table th{
  border-top: none;
}

.labeled-value {
	margin-bottom: 20px;
  margin-right: 20px;
}

.labeled-value > div.label {
	color: #777;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: 600;
}

.labeled-value > div.value > pre {
  white-space: pre-wrap;
  word-break: keep-all;
  margin-bottom: 0px;
}

.labeled-value > table.label-list td.label {
  padding-right: 30px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 10pt;
  padding-left: 0px;
}

.labeled-value > table.label-list td.value {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 10pt;
}


.modal-backdrop {
  opacity: 0.4;
}

.detail-modal {
  width: 75vw;
  max-width: 100vw;
}


.log-table {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 10pt; 
  white-space: pre-wrap;
  word-break: keep-all
}

div.vega-embed details {
  display: none;
}

div.toolbar .mini-button-group {
    font-size: 12px;
    height: 20px;
    padding-top: 0px;
    cursor: pointer;
}

div.toolbar .btn-outline-secondary:focus, .btn-outline-secondary.focus {
    outline:none !important;
    box-shadow:none !important;
}

div.searchresult > .key {
  color: #333;
  font-size: 14;
  word-break: break-all;
  white-space: pre-wrap;
}

svg.copy-icon {
  position: relative;
  top: -2px;
  margin-left: 5px;
  margin-right: 5px;
  color: #666;
  cursor: pointer;
}
svg.copy-icon:hover {
  color: #007bff;
}